* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: arial, sans-serif;
}

main {
  width: 100%;
  position: relative;
}

header {
  padding: 20px;
  margin: auto;
  position: fixed;
  top: -15px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#central {
  position: relative;
  top: 2vh;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

footer a {
  color: rgb(143, 141, 145);
}

li {
  float: left;
  padding: 18px 10px;
}

ul {
  list-style-type: none;
}

#profpic,
#apps {
  border-radius: 50%;
  position: relative;
  top: -5px;
}

input {
  width: 40vw;
  height: 45px;
  padding: 15px;
  outline: none;
  border-radius: 50px;
  border-color: rgba(201, 202, 201, 0.4);
  border-style: solid;
  border-width: 1pt;
  margin-bottom: 10px;
}

input:hover {
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);
}

#logo {
  margin-bottom: 25px;
  margin-top: 120px;
}

button {
  border-style: none;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  color: rgb(56, 56, 56);
}
